<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Discutils" version="0.11.0.2" targetFramework="net472" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.4" targetFramework="net472" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.4" targetFramework="net472" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net472" />
</packages>